@font-face {
    font-family: 'Atlas Grotesk Web';
    src: url("/static/fonts/atlasgrotesk/AtlasGrotesk-Light-Web-vflKfRQb9.eot");
    src: url("/static/fonts/atlasgrotesk/AtlasGrotesk-Light-Web-vflKfRQb9.eot?#iefix") format("embedded-opentype"),url("/static/fonts/atlasgrotesk/AtlasGrotesk-Light-Web-vfl5CyyQq.woff") format("woff"),url("/static/fonts/atlasgrotesk/AtlasGrotesk-Light-Web-vflVNjX5v.ttf") format("truetype"),url("/static/fonts/atlasgrotesk/AtlasGrotesk-Light-Web-vfloBJpb4.svg#Atlas Grotesk Web") format("svg");
    font-weight: 300;
    font-style: normal;
    font-stretch: normal
}

.AtlasGrotesk-Light-Web {
    font-family: 'Atlas Grotesk Web';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal
}

@font-face {
    font-family: 'Atlas Grotesk Web';
    src: url("/static/fonts/atlasgrotesk/AtlasGrotesk-Regular-Web-vfl31qaPE.eot");
    src: url("/static/fonts/atlasgrotesk/AtlasGrotesk-Regular-Web-vfl31qaPE.eot?#iefix") format("embedded-opentype"),url("/static/fonts/atlasgrotesk/AtlasGrotesk-Regular-Web-vflg7ta4-.woff") format("woff"),url("/static/fonts/atlasgrotesk/AtlasGrotesk-Regular-Web-vflbUJFTh.ttf") format("truetype"),url("/static/fonts/atlasgrotesk/AtlasGrotesk-Regular-Web-vflMxjW0i.svg#Atlas Grotesk Web") format("svg");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal
}

.AtlasGrotesk-Regular-Web {
    font-family: 'Atlas Grotesk Web';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal
}

@font-face {
    font-family: 'Atlas Grotesk Web';
    src: url("/static/fonts/atlasgrotesk/AtlasGrotesk-Bold-Web-vflqupno2.eot");
    src: url("/static/fonts/atlasgrotesk/AtlasGrotesk-Bold-Web-vflqupno2.eot?#iefix") format("embedded-opentype"),url("/static/fonts/atlasgrotesk/AtlasGrotesk-Bold-Web-vfl7CvxJN.woff") format("woff"),url("/static/fonts/atlasgrotesk/AtlasGrotesk-Bold-Web-vfl1v7rZu.ttf") format("truetype"),url("/static/fonts/atlasgrotesk/AtlasGrotesk-Bold-Web-vfl_t8m_7.svg#Atlas Grotesk Web") format("svg");
    font-weight: 600;
    font-style: normal;
    font-stretch: normal
}

.AtlasGrotesk-Bold-Web {
    font-family: 'Atlas Grotesk Web';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal
}

@font-face {
    font-family: 'SharpGroteskSuperCondensed';
    src: url("/static/fonts/sharpgrotesk/SharpGroteskDBBook11-vflIBQIXn.eot");
    src: url("/static/fonts/sharpgrotesk/SharpGroteskDBBook11-vflIBQIXn.eot?#iefix") format("embedded-opentype"),url("/static/fonts/sharpgrotesk/SharpGroteskDBBook11-vflIUABa0.woff2") format("woff2"),url("/static/fonts/sharpgrotesk/SharpGroteskDBBook11-vflyOWHzZ.woff") format("woff"),url("/static/fonts/sharpgrotesk/SharpGroteskDBBook11-vflzrCLFX.ttf") format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'SharpGroteskSuperCondensed';
    src: url("/static/fonts/sharpgrotesk/SharpGroteskDBMedium11-vflVqGBL6.eot");
    src: url("/static/fonts/sharpgrotesk/SharpGroteskDBMedium11-vflVqGBL6.eot?#iefix") format("embedded-opentype"),url("/static/fonts/sharpgrotesk/SharpGroteskDBMedium11-vfl14Nlx5.woff2") format("woff2"),url("/static/fonts/sharpgrotesk/SharpGroteskDBMedium11-vfl95a9lf.woff") format("woff"),url("/static/fonts/sharpgrotesk/SharpGroteskDBMedium11-vfl51YVK0.ttf") format("truetype");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'SharpGroteskSuperCondensed';
    src: url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBold11-vflWmTCNF.eot");
    src: url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBold11-vflWmTCNF.eot?#iefix") format("embedded-opentype"),url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBold11-vflxPJH91.woff2") format("woff2"),url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBold11-vflghbvDh.woff") format("woff"),url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBold11-vflOBCYkD.ttf") format("truetype");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: 'SharpGroteskCondensed';
    src: url("/static/fonts/sharpgrotesk/SharpGroteskDBBook13-vflGM0pgD.eot");
    src: url("/static/fonts/sharpgrotesk/SharpGroteskDBBook13-vflGM0pgD.eot?#iefix") format("embedded-opentype"),url("/static/fonts/sharpgrotesk/SharpGroteskDBBook13-vflr9PP4r.woff2") format("woff2"),url("/static/fonts/sharpgrotesk/SharpGroteskDBBook13-vflXPyEdE.woff") format("woff"),url("/static/fonts/sharpgrotesk/SharpGroteskDBBook13-vfl2dZgY2.ttf") format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'SharpGroteskCondensed';
    src: url("/static/fonts/sharpgrotesk/SharpGroteskDBMedium13-vfl-mL67n.eot");
    src: url("/static/fonts/sharpgrotesk/SharpGroteskDBMedium13-vfl-mL67n.eot?#iefix") format("embedded-opentype"),url("/static/fonts/sharpgrotesk/SharpGroteskDBMedium13-vflqOqFo9.woff2") format("woff2"),url("/static/fonts/sharpgrotesk/SharpGroteskDBMedium13-vflUWS3Ky.woff") format("woff"),url("/static/fonts/sharpgrotesk/SharpGroteskDBMedium13-vflsjVw-j.ttf") format("truetype");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'SharpGroteskCondensed';
    src: url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBold13-vflbPbkn2.eot");
    src: url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBold13-vflbPbkn2.eot?#iefix") format("embedded-opentype"),url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBold13-vflKE-jQ3.woff2") format("woff2"),url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBold13-vflRujcvZ.woff") format("woff"),url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBold13-vflIhBm-d.ttf") format("truetype");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: 'SharpGrotesk';
    src: url("/static/fonts/sharpgrotesk/SharpGroteskDBBook20-vflyTZCFu.eot");
    src: url("/static/fonts/sharpgrotesk/SharpGroteskDBBook20-vflyTZCFu.eot?#iefix") format("embedded-opentype"),url("/static/fonts/sharpgrotesk/SharpGroteskDBBook20-vfl6-4ZSp.woff2") format("woff2"),url("/static/fonts/sharpgrotesk/SharpGroteskDBBook20-vflay0Vof.woff") format("woff"),url("/static/fonts/sharpgrotesk/SharpGroteskDBBook20-vflBru9m9.ttf") format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'SharpGrotesk';
    src: url("/static/fonts/sharpgrotesk/SharpGroteskDBBookItalic20-vfltXscaV.eot");
    src: url("/static/fonts/sharpgrotesk/SharpGroteskDBBookItalic20-vfltXscaV.eot?#iefix") format("embedded-opentype"),url("/static/fonts/sharpgrotesk/SharpGroteskDBBookItalic20-vflwCQ830.woff2") format("woff2"),url("/static/fonts/sharpgrotesk/SharpGroteskDBBookItalic20-vflYS2fRH.woff") format("woff"),url("/static/fonts/sharpgrotesk/SharpGroteskDBBookItalic20-vflAAS2f2.ttf") format("truetype");
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: 'SharpGrotesk';
    src: url("/static/fonts/sharpgrotesk/SharpGroteskDBMedium20-vflxc0xOG.eot");
    src: url("/static/fonts/sharpgrotesk/SharpGroteskDBMedium20-vflxc0xOG.eot?#iefix") format("embedded-opentype"),url("/static/fonts/sharpgrotesk/SharpGroteskDBMedium20-vflI3qtaE.woff2") format("woff2"),url("/static/fonts/sharpgrotesk/SharpGroteskDBMedium20-vflXS-0WC.woff") format("woff"),url("/static/fonts/sharpgrotesk/SharpGroteskDBMedium20-vfls8l7-a.ttf") format("truetype");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'SharpGrotesk';
    src: url("/static/fonts/sharpgrotesk/SharpGroteskDBMediumItalic20-vfl7NEbfO.eot");
    src: url("/static/fonts/sharpgrotesk/SharpGroteskDBMediumItalic20-vfl7NEbfO.eot?#iefix") format("embedded-opentype"),url("/static/fonts/sharpgrotesk/SharpGroteskDBMediumItalic20-vfltFffZa.woff2") format("woff2"),url("/static/fonts/sharpgrotesk/SharpGroteskDBMediumItalic20-vflYvafQB.woff") format("woff"),url("/static/fonts/sharpgrotesk/SharpGroteskDBMediumItalic20-vflbICI7o.ttf") format("truetype");
    font-weight: 500;
    font-style: italic
}

@font-face {
    font-family: 'SharpGrotesk';
    src: url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBold20-vfl49YBmP.eot");
    src: url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBold20-vfl49YBmP.eot?#iefix") format("embedded-opentype"),url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBold20-vflsuA9PK.woff2") format("woff2"),url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBold20-vflbRns0b.woff") format("woff"),url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBold20-vflTu1-s0.ttf") format("truetype");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: 'SharpGrotesk';
    src: url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBoldItalic20-vflouajOT.eot");
    src: url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBoldItalic20-vflouajOT.eot?#iefix") format("embedded-opentype"),url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBoldItalic20-vflgGzNpl.woff2") format("woff2"),url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBoldItalic20-vfl9WOTTB.woff") format("woff"),url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBoldItalic20-vflBaHh8U.ttf") format("truetype");
    font-weight: 600;
    font-style: italic
}

@font-face {
    font-family: 'SharpGroteskWide';
    src: url("/static/fonts/sharpgrotesk/SharpGroteskDBBook22-vflgl0eSV.eot");
    src: url("/static/fonts/sharpgrotesk/SharpGroteskDBBook22-vflgl0eSV.eot?#iefix") format("embedded-opentype"),url("/static/fonts/sharpgrotesk/SharpGroteskDBBook22-vflniBEem.woff2") format("woff2"),url("/static/fonts/sharpgrotesk/SharpGroteskDBBook22-vfl91dN37.woff") format("woff"),url("/static/fonts/sharpgrotesk/SharpGroteskDBBook22-vflnJpWnQ.ttf") format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'SharpGroteskWide';
    src: url("/static/fonts/sharpgrotesk/SharpGroteskDBMedium22-vflhu7SNH.eot");
    src: url("/static/fonts/sharpgrotesk/SharpGroteskDBMedium22-vflhu7SNH.eot?#iefix") format("embedded-opentype"),url("/static/fonts/sharpgrotesk/SharpGroteskDBMedium22-vflJ24ZPh.woff2") format("woff2"),url("/static/fonts/sharpgrotesk/SharpGroteskDBMedium22-vfl0G4yVF.woff") format("woff"),url("/static/fonts/sharpgrotesk/SharpGroteskDBMedium22-vflVTTIxH.ttf") format("truetype");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'SharpGroteskWide';
    src: url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBold22-vfl-eZbLp.eot");
    src: url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBold22-vfl-eZbLp.eot?#iefix") format("embedded-opentype"),url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBold22-vflZZPPIV.woff2") format("woff2"),url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBold22-vfl_qnQpk.woff") format("woff"),url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBold22-vflf2I_83.ttf") format("truetype");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: 'AtlasGrotesk';
    src: url("/static/fonts/paper-atlasgrotesk/AtlasGrotesk-Thin-Web-vflugmAly.woff2") format("woff2"),url("/static/fonts/paper-atlasgrotesk/AtlasGrotesk-Thin-Web-vflWr14lv.woff") format("woff"),url("/static/fonts/paper-atlasgrotesk/AtlasGrotesk-Thin-Web-vflYSEsbG.ttf") format("truetype");
    font-weight: 100;
    font-style: normal
}

@font-face {
    font-family: 'AtlasGrotesk';
    src: url("/static/fonts/paper-atlasgrotesk/AtlasGrotesk-ThinItalic-Web-vflP-manv.woff2") format("woff2"),url("/static/fonts/paper-atlasgrotesk/AtlasGrotesk-ThinItalic-Web-vflmKWqdQ.woff") format("woff"),url("/static/fonts/paper-atlasgrotesk/AtlasGrotesk-ThinItalic-Web-vflHYkDrv.ttf") format("truetype");
    font-weight: 100;
    font-style: italic
}

@font-face {
    font-family: 'AtlasGrotesk';
    src: url("/static/fonts/paper-atlasgrotesk/AtlasGrotesk-Light-Web-vflvAXMid.woff2") format("woff2"),url("/static/fonts/paper-atlasgrotesk/AtlasGrotesk-Light-Web-vfl9_ktQy.woff") format("woff"),url("/static/fonts/paper-atlasgrotesk/AtlasGrotesk-Light-Web-vflc5lLwp.ttf") format("truetype");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: 'AtlasGrotesk';
    src: url("/static/fonts/paper-atlasgrotesk/AtlasGrotesk-LightItalic-Web-vflq-t642.woff2") format("woff2"),url("/static/fonts/paper-atlasgrotesk/AtlasGrotesk-LightItalic-Web-vfl1PZNwi.woff") format("woff"),url("/static/fonts/paper-atlasgrotesk/AtlasGrotesk-LightItalic-Web-vflvfjS6x.ttf") format("truetype");
    font-weight: 300;
    font-style: italic
}

@font-face {
    font-family: 'AtlasGrotesk';
    src: url("/static/fonts/paper-atlasgrotesk/AtlasGrotesk-Regular-Web-vflk7bxjs.woff2") format("woff2"),url("/static/fonts/paper-atlasgrotesk/AtlasGrotesk-Regular-Web-vflyEJFZg.woff") format("woff"),url("/static/fonts/paper-atlasgrotesk/AtlasGrotesk-Regular-Web-vflJ3txfq.ttf") format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'AtlasGrotesk';
    src: url("/static/fonts/paper-atlasgrotesk/AtlasGrotesk-RegularItalic-Web-vflOIRvCj.woff2") format("woff2"),url("/static/fonts/paper-atlasgrotesk/AtlasGrotesk-RegularItalic-Web-vflDo8Kta.woff") format("woff"),url("/static/fonts/paper-atlasgrotesk/AtlasGrotesk-RegularItalic-Web-vfllxpplt.ttf") format("truetype");
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: 'AtlasGrotesk';
    src: url("/static/fonts/paper-atlasgrotesk/AtlasGrotesk-Medium-Web-vfl38XiTL.woff2") format("woff2"),url("/static/fonts/paper-atlasgrotesk/AtlasGrotesk-Medium-Web-vflyja8tN.woff") format("woff"),url("/static/fonts/paper-atlasgrotesk/AtlasGrotesk-Medium-Web-vflbI0jjP.ttf") format("truetype");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'AtlasGrotesk';
    src: url("/static/fonts/paper-atlasgrotesk/AtlasGrotesk-MediumItalic-Web-vfliTEIPs.woff2") format("woff2"),url("/static/fonts/paper-atlasgrotesk/AtlasGrotesk-MediumItalic-Web-vflSOoqcm.woff") format("woff"),url("/static/fonts/paper-atlasgrotesk/AtlasGrotesk-MediumItalic-Web-vflp44bwY.ttf") format("truetype");
    font-weight: 500;
    font-style: italic
}

@font-face {
    font-family: 'AtlasGrotesk';
    src: url("/static/fonts/paper-atlasgrotesk/AtlasGrotesk-Bold-Web-vfl39K48X.woff2") format("woff2"),url("/static/fonts/paper-atlasgrotesk/AtlasGrotesk-Bold-Web-vflaLofNp.woff") format("woff"),url("/static/fonts/paper-atlasgrotesk/AtlasGrotesk-Bold-Web-vflD33tdn.ttf") format("truetype");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: 'AtlasGrotesk';
    src: url("/static/fonts/paper-atlasgrotesk/AtlasGrotesk-BoldItalic-Web-vflk44sx_.woff2") format("woff2"),url("/static/fonts/paper-atlasgrotesk/AtlasGrotesk-BoldItalic-Web-vflIKY_FY.woff") format("woff"),url("/static/fonts/paper-atlasgrotesk/AtlasGrotesk-BoldItalic-Web-vflntJR9Z.ttf") format("truetype");
    font-weight: 700;
    font-style: italic
}

@font-face {
    font-family: 'AtlasGrotesk';
    src: url("/static/fonts/paper-atlasgrotesk/AtlasGrotesk-Black-Web-vflp3rI0W.woff2") format("woff2"),url("/static/fonts/paper-atlasgrotesk/AtlasGrotesk-Black-Web-vflY3PiPg.woff") format("woff"),url("/static/fonts/paper-atlasgrotesk/AtlasGrotesk-Black-Web-vflNBqfnS.ttf") format("truetype");
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: 'AtlasGrotesk';
    src: url("/static/fonts/paper-atlasgrotesk/AtlasGrotesk-BlackItalic-Web-vflCRgLG7.woff2") format("woff2"),url("/static/fonts/paper-atlasgrotesk/AtlasGrotesk-BlackItalic-Web-vflLHCpzg.woff") format("woff"),url("/static/fonts/paper-atlasgrotesk/AtlasGrotesk-BlackItalic-Web-vflazUzhM.ttf") format("truetype");
    font-weight: 900;
    font-style: italic
}
