.drawer {
    height: 100%;
    width: 33.333%;
    background: white;
    z-index: 10;
    right: 0;
    top: 0;
    position: absolute;
}

#session-form {
    justify-content: center;
    margin: auto;
    width: inherit;
    padding: 30%;
}

.drawer-link {
    display: contents;
    font-family: inherit;
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.drawerNav {
    display: flex;
    justify-content: flex-end;
}
