.drawer {
    height: 100%;
    width: 33.333%;
    background: white;
    z-index: 10;
    right: 0;
    top: 0;
    position: absolute;
  
}


.drawer-link {
    
    font-family: Atlas Grotesk Web;
    font-size: 20px;
    color: black;
    text-decoration: none;
    margin: 5px;
    border: none;
    background: inherit;
}

.drawerNav {
    display: flex;
    justify-content: center;
    margin: 28px;
    margin-right: 42px;
    font-family: sans-serif;
   
}

.drawerNav button {
    width: 18px;
}

#drawer-sign-in {
    width: auto;
}

.session-header-sub {
    margin-top: 5px;
    font-size: 12px;
}

.session-header-sub p{
    color:blue;
    display: inline;
}

.session-header-sub p:hover{
    cursor: pointer;
}

.session-header-sub a{
    text-decoration: none;

}

#session-form {

    margin: auto;
    padding-top: 200px;
    width: 80%;
}

#session-form h2 {
    margin: 0px;
}

.session-form-element {
    border: 1px solid #bdc4c9;
    padding: 10px;
    margin: 10px;
    width: inherit;
    margin-left: 0;
    height: 23px;
}

#recaptcha {
    border:none;
    font-size:12px;
    font-family: sans-serif;
    padding: 0px;
}

#session-form button {
    background: rgb(28, 107, 255);
    color: white;
    font-size: 18px;
    width: 86.5%;
    font-family: sans-serif;
    height: inherit;
}

#session-form button:hover{
    cursor: pointer;
}

#terms-checkbox {
    border: none;
    font-family: inherit;
    font-size: 16px;
    font-family: sans-serif;
    padding-left: 0px;
}

.errors {
    position: absolute;
    bottom: 150px;
    font-family: monospace;
    color: red;
    right: 60px;
}

#drawer-close {
    background: url(https://cfl.dropboxstatic.com/static/images/index/rebrand/ob-button-close-vflzGggYo.svg) no-repeat;
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .drawer {  
    /* This section calls the slideInFromLeft animation we defined above */
    animation: 1s ease-out 0s 1 slideInFromLeft;
  }

  @keyframes slitherOut {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }

  .drawer-close {  
    
    animation: 1s ease-out 0s 1 slitherOut;
  }