.user-home {
    height: inherit;
    background: white;
    display: flex;
    font-family: AtlasGrotesk;
}

.user-home h1 {
    margin: 0;
}

#home-nav {
    height: inherit;
    width: 240px;
    background: #F7F9FA;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
}

.home-nav-content {
    width:inherit;
}

.home-button-logo {
    fill:   #0070e0;
    margin: 39px 25px;
}

#home-nav-list {
    margin: 0 25px;
    list-style: none;
    font-family: Atlas Grotesk Web, Open Sans, sans-serif;
    font-weight: 400;
    color: #637282;
}

#home-nav-list li {
    margin: 20px 0;
    cursor: pointer;
}

#home-nav-list li:active {
    color: #005ff8;

}

#home-nav-list li:hover {
    opacity: 0.8;
    
}

#logout-button {
    position: fixed;
}

#home-main-container {
    width: 100%;
    padding-left: 240px;
}
#home-main {
    position: relative;
    z-index: 1;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 420px;
    margin-left: 40px;
    outline: none;
}

#main-header{
    flex: 0 0 96px;
    height: 96px;
}

.header-end{
    display: flex;
    align-items: flex-start;
    width: 136px;
}

.header-end h2 {
    margin: 5px 20px 10px 10px;
}

#pro-pic{
    height: 32px;
    width: 32px;
    background: darkgray;
    border-radius: 20px;
    margin-left: 15px;
}
#header-search{
    border-radius: 25px;
    border: 1px solid #c1c7cd;
    color: #25282b;
    display: flex;
    height: 32px;
    padding: 0;
    position: fixed;
    right: 150px;
    top: 40px;
    transition: .2s width ease-in-out;
    width: 256px;
    z-index: 200;
}

.search__input {
    border: none;
    background: transparent;
    font-size: 14px;
    margin-left: 30px;
    font-family: AtlasGrotesk;
    font-weight: 400;
}


#main-header-content {
    background: #fff;
    padding: 40px 0 0 40px;
    height: 50px;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 5;
    width: calc(100% - (200px + 2 * 40px));
}

#notif-bell {
    height: 32px;
    width: 32px;
    cursor: pointer;
}

#suggested{
    display: flex;
    flex-direction: column;
    margin: 0 0 24px 0;
}

.section{
    margin: 0;
    padding: 0 11px 0 12px;
    font-weight: 400;
    line-height: 40px;
}

.section-header {
    display: flex;
    font-size: 12px;
    color: #637282;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0 11px 0 12px;
    font-weight: 400;
    line-height: 40px;
    border-bottom: solid 1px #E6E8EB;
}

.hide-button {
    border: none;
    color: #0070e0;
    font-family: AtlasGrotesk,sans-serif;
    font-size: 12px;
    cursor: pointer;
}

#suggested-list{
    display: flex;
    list-style: none;
    overflow: hidden;
    flex-wrap: wrap;
    max-height: 168px;
    justify-content: center;
}

#suggested-list li{
    max-width: 195.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: AtlasGrotesk, sans-serif;
    font-size: 12px;
    color: #637282;
    line-height: 20px;
    cursor: pointer;
    margin: 0 10px;
}

#suggested-list li p:hover {
    color: #0070E0;
}

.suggested-file-name {
    color: #1B2733;
    font-size: 14px;
}

.suggested-folder {
    display: flex;
}

.testy-boy {
    height: 100px;
    max-width: 150px;
   
    margin-top: 20px;
    margin-bottom: 8px;
    padding: 0 10px;
}

#main-content {
    display: flex;
}

#create-new-file{
    background-color: #0070e0;
    border: none;
    color: #fff;
    font-weight: 500;
    line-height: 32px;
    padding: 0 16px;
    cursor: pointer;
    font-family: AtlasGrotesk,sans-serif;
    font-size: 14px;
    height: 32px;
    width: 200px;
    display: inline-block;
    text-align: center; 
    border-radius: 4px;
    outline: none;
    margin: 0;
}


#home-sidebar {
    display: block;
    flex: 0 0 240px;
    padding: 0 30px;
}
.home-sidebar-content {
    position: fixed;
    right: 0;

}

#home-sidebar-list {
    margin: 0 25px;
    list-style: none;
    font-family: Atlas Grotesk Web, Open Sans, sans-serif;
    font-weight: 400;
}

#home-sidebar-list li {
    margin:20px;
}

#file-select{
    position: absolute;
    top: 0;
    left: 25px;
    height: 32px;
    width: 200px;
    opacity: 0;
}

#file-submit{
    position: absolute;
    bottom: -30px;
}

#file-select, #file-submit:hover {
    cursor: pointer;
}

.new-upload-links {
    color: #0070e0;
    font-size: 14px;
    cursor: pointer;
}

.new-upload-links:hover {
    color: #0052d9;
}

.recent-item-icon-wrapper{
    height: 40px;
    width: 40px;
    margin: 12px;
}
.recent-item-icon {
    max-height: 40px;
    max-width: 40px;
    background: cornflowerblue;
    margin: 0px 5px;
}

.recent-item-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px #E6E8EB;
    cursor: pointer;
}

.recent-item-contents {
    display: flex;
    font-size: 14px;
}

.added-updated{
    display: contents;
    height: 20px;
    font-size: 12px;
    color: #637282;
}

.recent-item-wrapper:hover #when {
    text-decoration: underline;
    text-decoration-style: dotted;
}

.recent-item-title {
    display: flex;
    height: 20px;
}

.recent-title-date{
    display: flex;
    flex-direction: column;
}
.star{
    background: none;
    border:none;
    fill: blue;
    display: none;
    cursor: pointer;
}

.recent-item-wrapper:hover .star {
    display: block;
}

#starred p {
    margin: 24px 12px;
    color: #637282;
    font-family: AtlasGrotesk,sans-serif;
    font-size: 14px;
}

#starred a {
    text-decoration: none;
}

.recent-button{
    min-height: 34px;
    font-size: 14px;
    margin-right: 16px;
    border: 1px solid #637282;
    border-radius: 3px;
    padding: 0 16px;
}

.recent-ellipsis{
    height: 32px;
    width: 32px;
    
}

.recent-ellipsis:hover{
    border: 1px solid #637282;
    border-radius: 10px;
}