.preview-container1{
    position: fixed;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    top: 90px;
    left: 0;
    z-index: 6;
}

.preview-container2{
    background: cornflowerblue;
    height: 75%;
}

.prev-img{
    height: 100%;
}

#music-icon{
    background: url(./music.jpg);
}