html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    
}
:focus {
  outline: none;
}

button:hover{
  cursor: pointer;
}
@font-face {
    font-family: 'Atlas Grotesk Web';
    src: url("https://cfl.dropboxstatic.com/static/fonts/atlasgrotesk/AtlasGrotesk-Regular-Web-vflg7ta4-.woff");
    /* src: url("/static/fonts/atlasgrotesk/AtlasGrotesk-Regular-Web-vfl31qaPE.eot?#iefix") format("embedded-opentype"),url("/static/fonts/atlasgrotesk/AtlasGrotesk-Regular-Web-vflg7ta4-.woff") format("woff"),url("/static/fonts/atlasgrotesk/AtlasGrotesk-Regular-Web-vflbUJFTh.ttf") format("truetype"),url("/static/fonts/atlasgrotesk/AtlasGrotesk-Regular-Web-vflMxjW0i.svg#Atlas Grotesk Web") format("svg"); */
    font-weight: 400;
    font-style: normal;
    font-stretch: normal
}

@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url("https://cfl.dropboxstatic.com/static/fonts/atlasgrotesk/AtlasGrotesk-Light-Web-vfl5CyyQq.woff");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal
}

// @font-face {
//   font-family: 'SharpGroteskWide';
//   src: url("https://cfl.dropboxstatic.com/static/fonts/sharpgrotesk/SharpGroteskDBMedium22-vfl0G4yVF.woff");
//   font-weight: 500;
//   font-style: normal
// }

// @font-face {
//   font-family: 'SharpGrotesk';
//   src: url("https://cfl.dropboxstatic.com/static/fonts/sharpgrotesk/SharpGroteskDBBook20-vflay0Vof.woff");
//   font-weight: 400;
//   font-style: normal
// }



@font-face {
  font-family: 'AtlasGrotesk';
  src: url("https://cfl.dropboxstatic.com/static/fonts/paper-atlasgrotesk/AtlasGrotesk-Medium-Web-vfl38XiTL.woff2") format("woff2");
  font-weight: 500;
  font-style: normal
}

@font-face {
  font-family: 'AtlasGrotesk';
  src: url("https://cfl.dropboxstatic.com/static/fonts/paper-atlasgrotesk/AtlasGrotesk-Regular-Web-vflk7bxjs.woff2") format("woff2");
  font-weight: 400;
  font-style: normal
}

@font-face {
    font-family: 'SharpGroteskSuperCondensed';
    src: url("/static/fonts/sharpgrotesk/SharpGroteskDBBook11-vflIBQIXn.eot");
    src: url("/static/fonts/sharpgrotesk/SharpGroteskDBBook11-vflIBQIXn.eot?#iefix") format("embedded-opentype"),url("/static/fonts/sharpgrotesk/SharpGroteskDBBook11-vflIUABa0.woff2") format("woff2"),url("/static/fonts/sharpgrotesk/SharpGroteskDBBook11-vflyOWHzZ.woff") format("woff"),url("/static/fonts/sharpgrotesk/SharpGroteskDBBook11-vflzrCLFX.ttf") format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'SharpGroteskSuperCondensed';
    src: url("/static/fonts/sharpgrotesk/SharpGroteskDBMedium11-vflVqGBL6.eot");
    src: url("/static/fonts/sharpgrotesk/SharpGroteskDBMedium11-vflVqGBL6.eot?#iefix") format("embedded-opentype"),url("/static/fonts/sharpgrotesk/SharpGroteskDBMedium11-vfl14Nlx5.woff2") format("woff2"),url("/static/fonts/sharpgrotesk/SharpGroteskDBMedium11-vfl95a9lf.woff") format("woff"),url("/static/fonts/sharpgrotesk/SharpGroteskDBMedium11-vfl51YVK0.ttf") format("truetype");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'SharpGroteskSuperCondensed';
    src: url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBold11-vflWmTCNF.eot");
    src: url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBold11-vflWmTCNF.eot?#iefix") format("embedded-opentype"),url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBold11-vflxPJH91.woff2") format("woff2"),url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBold11-vflghbvDh.woff") format("woff"),url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBold11-vflOBCYkD.ttf") format("truetype");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: 'SharpGroteskCondensed';
    src: url("/static/fonts/sharpgrotesk/SharpGroteskDBBook13-vflGM0pgD.eot");
    src: url("/static/fonts/sharpgrotesk/SharpGroteskDBBook13-vflGM0pgD.eot?#iefix") format("embedded-opentype"),url("/static/fonts/sharpgrotesk/SharpGroteskDBBook13-vflr9PP4r.woff2") format("woff2"),url("/static/fonts/sharpgrotesk/SharpGroteskDBBook13-vflXPyEdE.woff") format("woff"),url("/static/fonts/sharpgrotesk/SharpGroteskDBBook13-vfl2dZgY2.ttf") format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'SharpGroteskCondensed';
    src: url("/static/fonts/sharpgrotesk/SharpGroteskDBMedium13-vfl-mL67n.eot");
    src: url("/static/fonts/sharpgrotesk/SharpGroteskDBMedium13-vfl-mL67n.eot?#iefix") format("embedded-opentype"),url("/static/fonts/sharpgrotesk/SharpGroteskDBMedium13-vflqOqFo9.woff2") format("woff2"),url("/static/fonts/sharpgrotesk/SharpGroteskDBMedium13-vflUWS3Ky.woff") format("woff"),url("/static/fonts/sharpgrotesk/SharpGroteskDBMedium13-vflsjVw-j.ttf") format("truetype");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'SharpGroteskCondensed';
    src: url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBold13-vflbPbkn2.eot");
    src: url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBold13-vflbPbkn2.eot?#iefix") format("embedded-opentype"),url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBold13-vflKE-jQ3.woff2") format("woff2"),url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBold13-vflRujcvZ.woff") format("woff"),url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBold13-vflIhBm-d.ttf") format("truetype");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: 'SharpGrotesk';
    src: url("/static/fonts/sharpgrotesk/SharpGroteskDBBook20-vflyTZCFu.eot");
    src: url("/static/fonts/sharpgrotesk/SharpGroteskDBBook20-vflyTZCFu.eot?#iefix") format("embedded-opentype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'SharpGrotesk';
    src: url("/static/fonts/sharpgrotesk/SharpGroteskDBBookItalic20-vfltXscaV.eot");
    src: url("/static/fonts/sharpgrotesk/SharpGroteskDBBookItalic20-vfltXscaV.eot?#iefix") format("embedded-opentype"),url("/static/fonts/sharpgrotesk/SharpGroteskDBBookItalic20-vflwCQ830.woff2") format("woff2"),url("/static/fonts/sharpgrotesk/SharpGroteskDBBookItalic20-vflYS2fRH.woff") format("woff"),url("/static/fonts/sharpgrotesk/SharpGroteskDBBookItalic20-vflAAS2f2.ttf") format("truetype");
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: 'SharpGrotesk';
    src: url("/static/fonts/sharpgrotesk/SharpGroteskDBMedium20-vflxc0xOG.eot");
    src: url("/static/fonts/sharpgrotesk/SharpGroteskDBMedium20-vflxc0xOG.eot?#iefix") format("embedded-opentype");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'SharpGrotesk';
    src: url("/static/fonts/sharpgrotesk/SharpGroteskDBMediumItalic20-vfl7NEbfO.eot");
    src: url("/static/fonts/sharpgrotesk/SharpGroteskDBMediumItalic20-vfl7NEbfO.eot?#iefix") format("embedded-opentype"),url("/static/fonts/sharpgrotesk/SharpGroteskDBMediumItalic20-vfltFffZa.woff2") format("woff2"),url("/static/fonts/sharpgrotesk/SharpGroteskDBMediumItalic20-vflYvafQB.woff") format("woff"),url("/static/fonts/sharpgrotesk/SharpGroteskDBMediumItalic20-vflbICI7o.ttf") format("truetype");
    font-weight: 500;
    font-style: italic
}

@font-face {
    font-family: 'SharpGrotesk';
    src: url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBold20-vfl49YBmP.eot");
    src: url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBold20-vfl49YBmP.eot?#iefix") format("embedded-opentype"),url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBold20-vflsuA9PK.woff2") format("woff2"),url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBold20-vflbRns0b.woff") format("woff"),url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBold20-vflTu1-s0.ttf") format("truetype");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: 'SharpGrotesk';
    src: url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBoldItalic20-vflouajOT.eot");
    src: url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBoldItalic20-vflouajOT.eot?#iefix") format("embedded-opentype"),url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBoldItalic20-vflgGzNpl.woff2") format("woff2"),url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBoldItalic20-vfl9WOTTB.woff") format("woff"),url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBoldItalic20-vflBaHh8U.ttf") format("truetype");
    font-weight: 600;
    font-style: italic
}

@font-face {
    font-family: 'SharpGroteskWide';
    src: url("/static/fonts/sharpgrotesk/SharpGroteskDBBook22-vflgl0eSV.eot");
    src: url("/static/fonts/sharpgrotesk/SharpGroteskDBBook22-vflgl0eSV.eot?#iefix") format("embedded-opentype"),url("/static/fonts/sharpgrotesk/SharpGroteskDBBook22-vflniBEem.woff2") format("woff2"),url("/static/fonts/sharpgrotesk/SharpGroteskDBBook22-vfl91dN37.woff") format("woff"),url("/static/fonts/sharpgrotesk/SharpGroteskDBBook22-vflnJpWnQ.ttf") format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'SharpGroteskWide';
    src: url("/static/fonts/sharpgrotesk/SharpGroteskDBMedium22-vflhu7SNH.eot");
    src: url("/static/fonts/sharpgrotesk/SharpGroteskDBMedium22-vflhu7SNH.eot?#iefix") format("embedded-opentype");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'SharpGroteskWide';
    src: url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBold22-vfl-eZbLp.eot");
    src: url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBold22-vfl-eZbLp.eot?#iefix") format("embedded-opentype"),url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBold22-vflZZPPIV.woff2") format("woff2"),url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBold22-vfl_qnQpk.woff") format("woff"),url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBold22-vflf2I_83.ttf") format("truetype");
    font-weight: 600;
    font-style: normal
}
////////
/// 
/// 
@font-face {
font-family: 'SharpGroteskSuperCondensed';
src: url("/static/fonts/sharpgrotesk/SharpGroteskDBBook11-vflIBQIXn.eot");
src: url("/static/fonts/sharpgrotesk/SharpGroteskDBBook11-vflIBQIXn.eot?#iefix") format("embedded-opentype"),url("/static/fonts/sharpgrotesk/SharpGroteskDBBook11-vflIUABa0.woff2") format("woff2"),url("/static/fonts/sharpgrotesk/SharpGroteskDBBook11-vflyOWHzZ.woff") format("woff"),url("/static/fonts/sharpgrotesk/SharpGroteskDBBook11-vflzrCLFX.ttf") format("truetype");
font-weight: 400;
font-style: normal
}

@font-face {
font-family: 'SharpGroteskSuperCondensed';
src: url("/static/fonts/sharpgrotesk/SharpGroteskDBMedium11-vflVqGBL6.eot");
src: url("/static/fonts/sharpgrotesk/SharpGroteskDBMedium11-vflVqGBL6.eot?#iefix") format("embedded-opentype"),url("/static/fonts/sharpgrotesk/SharpGroteskDBMedium11-vfl14Nlx5.woff2") format("woff2"),url("/static/fonts/sharpgrotesk/SharpGroteskDBMedium11-vfl95a9lf.woff") format("woff"),url("/static/fonts/sharpgrotesk/SharpGroteskDBMedium11-vfl51YVK0.ttf") format("truetype");
font-weight: 500;
font-style: normal
}

@font-face {
font-family: 'SharpGroteskSuperCondensed';
src: url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBold11-vflWmTCNF.eot");
src: url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBold11-vflWmTCNF.eot?#iefix") format("embedded-opentype"),url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBold11-vflxPJH91.woff2") format("woff2"),url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBold11-vflghbvDh.woff") format("woff"),url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBold11-vflOBCYkD.ttf") format("truetype");
font-weight: 600;
font-style: normal
}

@font-face {
font-family: 'SharpGroteskCondensed';
src: url("/static/fonts/sharpgrotesk/SharpGroteskDBBook13-vflGM0pgD.eot");
src: url("/static/fonts/sharpgrotesk/SharpGroteskDBBook13-vflGM0pgD.eot?#iefix") format("embedded-opentype"),url("/static/fonts/sharpgrotesk/SharpGroteskDBBook13-vflr9PP4r.woff2") format("woff2"),url("/static/fonts/sharpgrotesk/SharpGroteskDBBook13-vflXPyEdE.woff") format("woff"),url("/static/fonts/sharpgrotesk/SharpGroteskDBBook13-vfl2dZgY2.ttf") format("truetype");
font-weight: 400;
font-style: normal
}

@font-face {
font-family: 'SharpGroteskCondensed';
src: url("/static/fonts/sharpgrotesk/SharpGroteskDBMedium13-vfl-mL67n.eot");
src: url("/static/fonts/sharpgrotesk/SharpGroteskDBMedium13-vfl-mL67n.eot?#iefix") format("embedded-opentype"),url("/static/fonts/sharpgrotesk/SharpGroteskDBMedium13-vflqOqFo9.woff2") format("woff2"),url("/static/fonts/sharpgrotesk/SharpGroteskDBMedium13-vflUWS3Ky.woff") format("woff"),url("/static/fonts/sharpgrotesk/SharpGroteskDBMedium13-vflsjVw-j.ttf") format("truetype");
font-weight: 500;
font-style: normal
}

@font-face {
font-family: 'SharpGroteskCondensed';
src: url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBold13-vflbPbkn2.eot");
src: url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBold13-vflbPbkn2.eot?#iefix") format("embedded-opentype"),url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBold13-vflKE-jQ3.woff2") format("woff2"),url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBold13-vflRujcvZ.woff") format("woff"),url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBold13-vflIhBm-d.ttf") format("truetype");
font-weight: 600;
font-style: normal
}

@font-face {
font-family: 'SharpGrotesk';
src: url("/static/fonts/sharpgrotesk/SharpGroteskDBBook20-vflyTZCFu.eot");
src: url("/static/fonts/sharpgrotesk/SharpGroteskDBBook20-vflyTZCFu.eot?#iefix") format("embedded-opentype");
font-weight: 400;
font-style: normal
}

@font-face {
font-family: 'SharpGrotesk';
src: url("/static/fonts/sharpgrotesk/SharpGroteskDBBookItalic20-vfltXscaV.eot");
src: url("/static/fonts/sharpgrotesk/SharpGroteskDBBookItalic20-vfltXscaV.eot?#iefix") format("embedded-opentype"),url("/static/fonts/sharpgrotesk/SharpGroteskDBBookItalic20-vflwCQ830.woff2") format("woff2"),url("/static/fonts/sharpgrotesk/SharpGroteskDBBookItalic20-vflYS2fRH.woff") format("woff"),url("/static/fonts/sharpgrotesk/SharpGroteskDBBookItalic20-vflAAS2f2.ttf") format("truetype");
font-weight: 400;
font-style: italic
}

@font-face {
font-family: 'SharpGrotesk';
src: url("/static/fonts/sharpgrotesk/SharpGroteskDBMedium20-vflxc0xOG.eot");
src: url("/static/fonts/sharpgrotesk/SharpGroteskDBMedium20-vflxc0xOG.eot?#iefix") format("embedded-opentype");
font-weight: 500;
font-style: normal
}

@font-face {
font-family: 'SharpGrotesk';
src: url("/static/fonts/sharpgrotesk/SharpGroteskDBMediumItalic20-vfl7NEbfO.eot");
src: url("/static/fonts/sharpgrotesk/SharpGroteskDBMediumItalic20-vfl7NEbfO.eot?#iefix") format("embedded-opentype"),url("/static/fonts/sharpgrotesk/SharpGroteskDBMediumItalic20-vfltFffZa.woff2") format("woff2"),url("/static/fonts/sharpgrotesk/SharpGroteskDBMediumItalic20-vflYvafQB.woff") format("woff"),url("/static/fonts/sharpgrotesk/SharpGroteskDBMediumItalic20-vflbICI7o.ttf") format("truetype");
font-weight: 500;
font-style: italic
}

@font-face {
font-family: 'SharpGrotesk';
src: url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBold20-vfl49YBmP.eot");
src: url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBold20-vfl49YBmP.eot?#iefix") format("embedded-opentype"),url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBold20-vflsuA9PK.woff2") format("woff2"),url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBold20-vflbRns0b.woff") format("woff"),url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBold20-vflTu1-s0.ttf") format("truetype");
font-weight: 600;
font-style: normal
}

@font-face {
font-family: 'SharpGrotesk';
src: url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBoldItalic20-vflouajOT.eot");
src: url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBoldItalic20-vflouajOT.eot?#iefix") format("embedded-opentype"),url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBoldItalic20-vflgGzNpl.woff2") format("woff2"),url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBoldItalic20-vfl9WOTTB.woff") format("woff"),url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBoldItalic20-vflBaHh8U.ttf") format("truetype");
font-weight: 600;
font-style: italic
}

@font-face {
font-family: 'SharpGroteskWide';
src: url("/static/fonts/sharpgrotesk/SharpGroteskDBBook22-vflgl0eSV.eot");
src: url("/static/fonts/sharpgrotesk/SharpGroteskDBBook22-vflgl0eSV.eot?#iefix") format("embedded-opentype"),url("/static/fonts/sharpgrotesk/SharpGroteskDBBook22-vflniBEem.woff2") format("woff2"),url("/static/fonts/sharpgrotesk/SharpGroteskDBBook22-vfl91dN37.woff") format("woff"),url("/static/fonts/sharpgrotesk/SharpGroteskDBBook22-vflnJpWnQ.ttf") format("truetype");
font-weight: 400;
font-style: normal
}

@font-face {
font-family: 'SharpGroteskWide';
src: url("/static/fonts/sharpgrotesk/SharpGroteskDBMedium22-vflhu7SNH.eot");
src: url("/static/fonts/sharpgrotesk/SharpGroteskDBMedium22-vflhu7SNH.eot?#iefix") format("embedded-opentype");
font-weight: 500;
font-style: normal
}

@font-face {
font-family: 'SharpGroteskWide';
src: url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBold22-vfl-eZbLp.eot");
src: url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBold22-vfl-eZbLp.eot?#iefix") format("embedded-opentype"),url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBold22-vflZZPPIV.woff2") format("woff2"),url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBold22-vfl_qnQpk.woff") format("woff"),url("/static/fonts/sharpgrotesk/SharpGroteskDBSmBold22-vflf2I_83.ttf") format("truetype");
font-weight: 600;
font-style: normal
}

////
/// 
// @font-face {
//   font-family: 'Atlas Grotesk Web';
//   src: url("/static/fonts/atlasgrotesk/AtlasGrotesk-Light-Web-vflKfRQb9.eot");
//   src: url("/static/fonts/atlasgrotesk/AtlasGrotesk-Light-Web-vflKfRQb9.eot?#iefix") format("embedded-opentype"),url("/static/fonts/atlasgrotesk/AtlasGrotesk-Light-Web-vfl5CyyQq.woff") format("woff"),url("/static/fonts/atlasgrotesk/AtlasGrotesk-Light-Web-vflVNjX5v.ttf") format("truetype"),url("/static/fonts/atlasgrotesk/AtlasGrotesk-Light-Web-vfloBJpb4.svg#Atlas Grotesk Web") format("svg");
//   font-weight: 300;
//   font-style: normal;
//   font-stretch: normal
// }

// .AtlasGrotesk-Light-Web {
//   font-family: 'Atlas Grotesk Web';
//   font-weight: 300;
//   font-style: normal;
//   font-stretch: normal
// }

// @font-face {
//   font-family: 'Atlas Grotesk Web';
//   src: url("/static/fonts/atlasgrotesk/AtlasGrotesk-Regular-Web-vfl31qaPE.eot");
//   src: url("/static/fonts/atlasgrotesk/AtlasGrotesk-Regular-Web-vfl31qaPE.eot?#iefix") format("embedded-opentype"),url("/static/fonts/atlasgrotesk/AtlasGrotesk-Regular-Web-vflg7ta4-.woff") format("woff"),url("/static/fonts/atlasgrotesk/AtlasGrotesk-Regular-Web-vflbUJFTh.ttf") format("truetype"),url("/static/fonts/atlasgrotesk/AtlasGrotesk-Regular-Web-vflMxjW0i.svg#Atlas Grotesk Web") format("svg");
//   font-weight: 400;
//   font-style: normal;
//   font-stretch: normal
// }

// .AtlasGrotesk-Regular-Web {
//   font-family: 'Atlas Grotesk Web';
//   font-weight: 400;
//   font-style: normal;
//   font-stretch: normal
// }

// @font-face {
//   font-family: 'Atlas Grotesk Web';
//   src: url("/static/fonts/paper-atlasgrotesk/AtlasGrotesk-Medium-Web-vfl38XiTL.woff2") format("woff2"),url("/static/fonts/paper-atlasgrotesk/AtlasGrotesk-Medium-Web-vflyja8tN.woff") format("woff"),url("/static/fonts/paper-atlasgrotesk/AtlasGrotesk-Medium-Web-vflbI0jjP.ttf") format("truetype");
//   font-weight: 500;
//   font-style: normal;
//   font-stretch: normal
// }

// .AtlasGrotesk-Medium-Web {
//   font-family: 'Atlas Grotesk Web';
//   font-weight: 500;
//   font-style: normal;
//   font-stretch: normal
// }

// @font-face {
//   font-family: 'Atlas Grotesk Web';
//   src: url("/static/fonts/atlasgrotesk/AtlasGrotesk-Bold-Web-vflqupno2.eot");
//   src: url("/static/fonts/atlasgrotesk/AtlasGrotesk-Bold-Web-vflqupno2.eot?#iefix") format("embedded-opentype"),url("/static/fonts/atlasgrotesk/AtlasGrotesk-Bold-Web-vfl7CvxJN.woff") format("woff"),url("/static/fonts/atlasgrotesk/AtlasGrotesk-Bold-Web-vfl1v7rZu.ttf") format("truetype"),url("/static/fonts/atlasgrotesk/AtlasGrotesk-Bold-Web-vfl_t8m_7.svg#Atlas Grotesk Web") format("svg");
//   font-weight: 600;
//   font-style: normal;
//   font-stretch: normal
// }

// .AtlasGrotesk-Bold-Web {
//   font-family: 'Atlas Grotesk Web';
//   font-weight: 600;
//   font-style: normal;
//   font-stretch: normal
// }
