html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    
}
:focus {
  outline: none;
}

button:hover{
  cursor: pointer;
}
@font-face {
    font-family: 'Atlas Grotesk Web';
    src: url("https://cfl.dropboxstatic.com/static/fonts/atlasgrotesk/AtlasGrotesk-Regular-Web-vflg7ta4-.woff");
    /* src: url("/static/fonts/atlasgrotesk/AtlasGrotesk-Regular-Web-vfl31qaPE.eot?#iefix") format("embedded-opentype"),url("/static/fonts/atlasgrotesk/AtlasGrotesk-Regular-Web-vflg7ta4-.woff") format("woff"),url("/static/fonts/atlasgrotesk/AtlasGrotesk-Regular-Web-vflbUJFTh.ttf") format("truetype"),url("/static/fonts/atlasgrotesk/AtlasGrotesk-Regular-Web-vflMxjW0i.svg#Atlas Grotesk Web") format("svg"); */
    font-weight: 400;
    font-style: normal;
    font-stretch: normal
}

@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url("https://cfl.dropboxstatic.com/static/fonts/atlasgrotesk/AtlasGrotesk-Light-Web-vfl5CyyQq.woff");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal
}

@font-face {
  font-family: 'SharpGroteskWide';
  src: url("https://cfl.dropboxstatic.com/static/fonts/sharpgrotesk/SharpGroteskDBMedium22-vfl0G4yVF.woff");
  font-weight: 500;
  font-style: normal
}

@font-face {
  font-family: 'SharpGrotesk';
  src: url("https://cfl.dropboxstatic.com/static/fonts/sharpgrotesk/SharpGroteskDBBook20-vflay0Vof.woff");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: 'SharpGrotesk';
  src: url("https://cfl.dropboxstatic.com/static/fonts/sharpgrotesk/SharpGroteskDBMedium20-vflXS-0WC.woff");
  font-weight: 500;
  font-style: normal
}

@font-face {
  font-family: 'AtlasGrotesk';
  src: url("https://cfl.dropboxstatic.com/static/fonts/paper-atlasgrotesk/AtlasGrotesk-Medium-Web-vfl38XiTL.woff2") format("woff2");
  font-weight: 500;
  font-style: normal
}

@font-face {
  font-family: 'AtlasGrotesk';
  src: url("https://cfl.dropboxstatic.com/static/fonts/paper-atlasgrotesk/AtlasGrotesk-Regular-Web-vflk7bxjs.woff2") format("woff2");
  font-weight: 400;
  font-style: normal
}