#splash {
    height: inherit;
    background: linear-gradient(90deg, #61082b 66.666%, #b4d0e7 33.334%);
}
.splash-nav {
    display: flex;
}

.splash-nav-content {
    display: inherit;
    margin: 30px;
    margin-left: 145px;
    font-family: sans-serif;
    width: inherit;
}

.droppyboy-logo {
    /* margin: 29px;
    margin-left: 63px; */
    background: image-url("pic.jpg");
    background-size: contain;
    height:30px;
    width: 100px;
}

.splash-nav-nav {
    display: inherit;
    width: 100%;
    max-width:1440px;
}

.splash-nav-nav img:last-of-type{
    height: 48px;
    width: auto;
    margin: 0px;
    left: 71px;
    position: absolute;
    top: 23px;
}

.splash-nav-nav-links a {
    color: white;
    text-decoration: none;
    margin: 10px;
}

.splash-nav-nav-buttons {
    margin-left: auto;
}
.splash-nav-nav-buttons button{
    border: none;
    background: inherit;
    font-size: inherit;
   
}

.hero {
    width: 66.666%;
    color: #b4d1e7;
    padding-top: 180px;
    max-width: 1440px;
}


.grid {
   margin: auto;
   width: 77%; 
   padding-left: calc(1440px * (2 / 24));
   padding-right: calc(1440px * (2 / 24));
}

.grid header h1{
    font-size: 72px;
}

 .grid header p{
    width: 50%;
    color: white;
    line-height: 28px;
}
        

.arrow {
    width: 24px;
    height: 35px;
    padding: 0;
    
    background-size: contain;
}

#grid2 {
    background: linear-gradient(90deg, #61082b 66.666%, #b4d0e7 33.334%);
    padding-top: 200px;
    padding-bottom: 200px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    overflow: hidden;
    display:flex;
  
}

#grid2-contents {
    display: flex;
}

#grid2-text {
    width: calc(8/24 * 100%);
    max-width: calc(1440px / (8/24));
    align-self: center;
}


#grid2-text h2{
    color: #b4d0e7;
    width: 75%;
    margin: auto;
    font-size: calc(25px + 7 * ((100vw - 375px) / 1065));
}

#grid2-text p{
    color: white;
    width: 75%;
    margin: auto;
    font-size: 18px;
    line-height: 28px;
}


#grid2-pic-1 {
    width: calc(8/24 * 100%);
    max-width: calc(1440px / (8/24));
}

#grid3 {
    background: #ffafa2;
    display:flex;
    justify-content: center;
}


#grid3-contents {
    display: flex;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width:1440px;
}

#grid3-pic-1 {
    max-width: 50%;
    padding-left: 7%
}

#grid3-text {
    align-self: center;
}

#grid3-text h3{
    color: navy;
    width: 75%;
    margin: auto;
    font-size: calc(25px + 7 * ((100vw - 375px) / 1065));
}

#grid3-text p{
    color: black;
    width: 75%;
    margin: auto;
    font-size: 18px;
    line-height: 28px;
}