#splash {
    height: inherit;
    background: linear-gradient(90deg, #61082b 66.666%, #b4d0e7 33.334%);
}

.droppyboy-logo {
    /* margin: 29px;
    margin-left: 63px; */
    background-size: contain;
    height:30px;
    width: 100px;
    display: flex;
    align-self: center;
}

#logo-homemade {
    background: url(./droppy-boy-white.gif);
    background-size: cover;
    min-width: 167px;
    height: auto;
    image-rendering: auto;
    margin-left: 10px;
}

#logo-homemade-black {
    background: url(./droppy-boy-black.gif);
    background-size: cover;
    min-width: 167px;
    height: auto;
    image-rendering: auto;
    margin-left: 10px;
}

.splash-nav-nav {
  
    display: inherit;
    width: 100%;
    max-width:1440px;
    padding-left: calc(1440px * (1 / 24));
    padding-right: calc(1440px * (1 / 24));
    height: 96px;
}


.splash-nav-nav-links a {
    
    text-decoration: none;
    margin: 10px;
    font-weight: 400;
    font-family: SharpGrotesk;
}

.splash-nav-nav-buttons {
    margin-left: auto;
}
.splash-nav-nav-buttons button{
    border: none;
    background: inherit;
    font-size: 16px;;
    font-weight: 400;
    font-family: SharpGrotesk;
    color: inherit;
}

.splash-nav-nav-buttons button:hover{
    cursor: pointer;
   
}

.noShow {
    display: none;
}


.hero {
    background: inherit;
    width: 100%;
    color: #b4d1e7;
    max-width: 1440px;
    display: flex;
    height: inherit;
    flex-direction: row;
    
    padding-top: 90px;
    margin: auto;
}


.grid {
    width: calc(16/24 * 100%);
    max-width: calc(1440px / (16/24));
}

.grid header {
    padding-top: 96px;
    padding-left: calc(1440px * (2 / 24));
    padding-right: calc(1440px * (2 / 24));
}

.grid header h1{
    font-size: 71px;
    font-family: SharpGroteskWide;
    font-weight: 500;
    margin-bottom:50px;
}

 .grid header p{
    width: 50%;
    color: white;
    line-height: 28px;
    font-family: Atlas Grotesk Web;
    font-weight: 300;
}

.grid header button {
    background: url("https://cfl.dropboxstatic.com/static/images/index/rebrand/ob-arrow-aqua-vflrYQuro.svg") center center no-repeat;
    border: none;
    margin-top: 50px;

}
        

.arrow {
    width: 24px;
    height: 35px;
    padding: 0;
    cursor: pointer;
    background-size: contain;
}

#grid2 {
    background: linear-gradient(90deg, #61082b 66.666%, #b4d0e7 33.334%);
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    overflow: hidden;
    display:flex;
  
}

#grid-2-container {
    padding: 200px 0px;
    max-width: 1440px;
    margin: auto;
    background: inherit;
}

#grid2-contents {
    display: flex;
    max-width: 1440px;
    margin:auto;
}

#grid2-text {
    width: calc(8/24 * 100%);
    max-width: calc(1440px / (8/24));
    align-self: center;
}


#grid2-text h2{
    color: #b4d0e7;
    width: 75%;
    margin: auto;
    font-size: calc(25px + 7 * ((100vw - 375px) / 1065));
    line-height: 38px;
    font-weight: 500;
    font-family: 'SharpGroteskWide', sans-serif;
}

#grid2-text p{
    color: white;
    width: 75%;
    margin: auto;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    font-family: 'Atlas Grotesk Web', 'Open Sans', sans-serif;
    font-style: normal;
    font-stretch: normal
    
}


#grid2-pic-1 {
    width: calc(8/24 * 100%);
    max-width: calc(1440px / (8/24));
}

#grid2-pic-2 {
    width: calc(6/24 * 100%);
    max-width: calc(1440px / (6/24));
}

#grid3 {
    background: #ffafa2;
    display:flex;
    justify-content: center;
}


#grid3-contents {
    display: flex;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width:1440px;
}

#grid3-pic-1 {
        padding-left: 7%;
    width: calc(17/24 * 100%);
    max-width: calc(1440px / (17/24));
}

#grid3-text {
    width: calc(7/24 * 100%);
    max-width: calc(1440px / (7/24));
}

#grid3-text h3{
    color: navy;
    width: 75%;
    margin: auto;
    font-size: calc(25px + 7 * ((100vw - 375px) / 1065));
    line-height: 38px;
    font-weight: 500;
    font-family: 'SharpGroteskWide', sans-serif;
}

#grid3-text p{
    color: black;
    width: 75%;
    margin: auto;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    font-family: 'Atlas Grotesk Web', 'Open Sans', sans-serif;
    font-style: normal;
    font-stretch: normal
}

#grid4 {
    background: #005744;
    display:flex;
    justify-content: center;
}


#grid4-contents {
    display: flex;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width:1440px;
}

#grid4-pic-1 {
    max-width: 50%;
    padding: 0 3%;
}

#grid4-text {
    align-self: center;
}

#grid4-text h4{
    color: #ffd830;
    width: 75%;
    margin: auto;
    font-size: calc(25px + 7 * ((100vw - 375px) / 1065));
    line-height: 38px;
    font-weight: 500;
    font-family: 'SharpGroteskWide', sans-serif;
}

#grid4-text p{
    color: white;
    width: 75%;
    margin: auto;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    font-family: 'Atlas Grotesk Web', 'Open Sans', sans-serif;
    font-style: normal;
    font-stretch: normal
}

#grid5 {
    background: white;
}

#grid5-contents{
    display: flex;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width:1440px;
    justify-content: space-evenly;
    margin: auto;
}

.grid5-text{
    width: 33%;
}
.grid5-text h5{
    margin: auto;
    margin-bottom: 30px;
    font-size: calc(32px + 8 * ((100vw - 375px) / 1065));
    line-height: 46px;
    font-family: 'SharpGroteskWide', sans-serif;
    font-weight: 500;
    font-size: 36px;
}

.grid5-text button{
    color: #fff;
    border-color: #0061ff;
    background: #0061ff;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.625em;
    height: auto;
    width: auto;
    padding: 8px 50px;
    cursor: pointer;
    font-family: 'Atlas Grotesk Web', 'Open Sans', sans-serif;
}

#grid6 {
    background-color: black;
    color: white;

}

#top-list{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 160px 45px 120px 45px;
}



.small-list {
    list-style: none;
    padding-left: 0;
    
}

.small-list a, .small-list li{
    font-size: 14px;
    margin-top: 14px;
    font-family: sans-serif;
    color: white;
    text-decoration: none;
}

.small-list a:hover{
    text-decoration: underline;
}

h6 {
    font-family: 'SharpGroteskWide', sans-serif;
    font-weight: 500;
    text-align: left;
    font-size: 16px;
}


.splash-nav {
    display: inherit;
    background: inherit;
    max-width: 1440px;
    width: inherit;
}

.splash-nav-content {
    display: inherit;
    margin-left: 145px;
    margin-right: 48px;
    font-family: sans-serif;
    width: inherit;
    align-items: center;
    height:96px;
}

.nav{
    position: fixed;
    width: 100%;
    justify-content: center;
    display: flex;
    overflow: hidden;
}

#nav1 {
    background: linear-gradient(90deg, #61082b 66.666%, #b4d0e7 33.334%);    
    z-index: 4
}


#nav2 {
    background: #ffae9f;
    height: 96px;
    padding: 0;
    color: navy;
    z-index: 3;
}

#nav3{
    background: #005744;
    height: 96px;
    padding: 0;
    color: #ffd830;
    z-index: 2;
}


#nav4{
    background: white;
    height: 96px;
    padding: 0;
    color: black;
}
